/SLU.CS.LAB/bin/Debug/netcoreapp3.1/appsettings.Development.json
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/appsettings.json
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Cryptography.Internal.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Identity.Core.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Identity.Stores.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/Microsoft.OpenApi.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/SLU.CS.LAB.deps.json
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/SLU.CS.LAB.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/SLU.CS.LAB.exe
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/SLU.CS.LAB.pdb
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/SLU.CS.LAB.runtimeconfig.dev.json
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/SLU.CS.LAB.runtimeconfig.json
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.Swagger.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerGen.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerUI.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
/SLU.CS.LAB/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
/SLU.CS.LAB/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/SLU.CS.LAB/obj/Debug/netcoreapp3.1/SLU.CS.LAB.AssemblyInfo.cs
/SLU.CS.LAB/obj/Debug/netcoreapp3.1/SLU.CS.LAB.AssemblyInfoInputs.cache
/SLU.CS.LAB/obj/Debug/netcoreapp3.1/SLU.CS.LAB.assets.cache
/SLU.CS.LAB/obj/Debug/netcoreapp3.1/SLU.CS.LAB.csproj.CopyComplete
/SLU.CS.LAB/obj/Debug/netcoreapp3.1/SLU.CS.LAB.csproj.CoreCompileInputs.cache
/SLU.CS.LAB/obj/Debug/netcoreapp3.1/SLU.CS.LAB.csproj.FileListAbsolute.txt
/SLU.CS.LAB/obj/Debug/netcoreapp3.1/SLU.CS.LAB.csprojAssemblyReference.cache
/SLU.CS.LAB/obj/Debug/netcoreapp3.1/SLU.CS.LAB.dll
/SLU.CS.LAB/obj/Debug/netcoreapp3.1/SLU.CS.LAB.exe
/SLU.CS.LAB/obj/Debug/netcoreapp3.1/SLU.CS.LAB.genruntimeconfig.cache
/SLU.CS.LAB/obj/Debug/netcoreapp3.1/SLU.CS.LAB.MvcApplicationPartsAssemblyInfo.cache
/SLU.CS.LAB/obj/Debug/netcoreapp3.1/SLU.CS.LAB.MvcApplicationPartsAssemblyInfo.cs
/SLU.CS.LAB/obj/Debug/netcoreapp3.1/SLU.CS.LAB.pdb
/SLU.CS.LAB/obj/Debug/netcoreapp3.1/SLU.CS.LAB.RazorTargetAssemblyInfo.cache
/SLU.CS.LAB/obj/Debug/netcoreapp3.1/staticwebassets/SLU.CS.LAB.StaticWebAssets.Manifest.cache
/SLU.CS.LAB/obj/Debug/netcoreapp3.1/staticwebassets/SLU.CS.LAB.StaticWebAssets.xml
/SLU.CS.LAB/obj/project.assets.json
/SLU.CS.LAB/obj/project.nuget.cache
/SLU.CS.LAB/obj/SLU.CS.LAB.csproj.nuget.dgspec.json
/SLU.CS.LAB/obj/SLU.CS.LAB.csproj.nuget.g.targets
